﻿<div class="col-md-12">
	<div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label>Дата начала периода</label>
                    <div class="input-group">
                        <input type="date" class="form-control"
                               ng-model="$ctrl.formData.DateStart" is-open="fromOpen"
                               ng-model-options="{timezone: 'utc'}"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="fromOpen=!fromOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Дата окончания периода</label>
                    <div class="input-group">
                        <input type="date" class="form-control"
                               ng-model="$ctrl.formData.DateEnd" is-open="toOpen"
                               ng-model-options="{timezone: 'utc'}"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="toOpen=!toOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <button ng-click="$ctrl.onPeriodChoose()">
                    Выбрать
                </button>
            </form>
        </div>
        <div class="col-md-8">
            <div style="overflow-x:scroll;">

                <table class="table table-bordered">
                    <tr>
                        <th>Счёт</th>
                        <th ng-repeat="date in $ctrl.dates">
                            <div style="width:80px;">{{date}}</div>
                        </th>
                    </tr>
                    <tr ng-repeat="(key, value) in $ctrl.calendarDetails">
                        <td>
                            <b>{{key}}</b>
                        </td>
                        <td ng-repeat="item in value">
                            <span ng-class="{'text-success': (item.SumEnd > 0), 'text-danger': (item.SumEnd < 0) }"
                                  style="float: right;">
                                {{$ctrl.formatAsSum(item.SumEnd)}} ₽
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>