﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Автоматизированная система "Умное казначейство"</title>
    <!--<script src="//npmcdn.com/angular@latest/angular.js"></script>
    <script src="//npmcdn.com/angular-ui-router@1.0.0-alpha.4/release/angular-ui-router.js"></script>-->
    <script src="scripts/bundle.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
</head>
<body ng-app="smartTreasury">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isMenuVisible = !isMenuVisible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="main">Умное казначейство</a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="!isMenuVisible">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="payments" >Список платежей</a></li>
                    <li ui-sref-active="active"><a ui-sref="schedule">Календарь</a></li>
                </ul>
            </div>
        </nav>
        <div style="position:fixed;top:0;left:0;right:0;margin:50px 10%;z-index:999;">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.message}}</div>
        </div>
        <div class="row">
            <ui-view></ui-view>
        </div>
    </div>
</body>
</html>
