﻿<div class="col-md-6">
    <h3>Формирование календаря</h3>
    <form ng-if="!$ctrl.isCalendarMaking">
        <div class="form-group">
            <label>Дата начала периода составления</label>
            <div class="input-group">
                <input type="date" class="form-control" 
                       ng-model="$ctrl.formData.DateStart" is-open="fromOpen"
                       ng-model-options="{timezone: 'utc'}"
                       close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="fromOpen=!fromOpen">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Дата окончания периода составления</label>
            <div class="input-group">
                <input type="date" class="form-control" 
                       ng-model="$ctrl.formData.DateEnd" is-open="toOpen"
                       ng-model-options="{timezone: 'utc'}"
                       close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="toOpen=!toOpen">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Число итераций</label>
            <input type="number" class="form-control" ng-model="$ctrl.formData.IterationsCount" min="10" max="200" />
        </div>
        <div class="form-group">
            <label>Размер популяции</label>
            <input type="number" class="form-control" ng-model="$ctrl.formData.PopulationSize" min="10" max="100" />
        </div>
        <button class="btn btn-success" ng-click="$ctrl.startMakingCalendar()">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Сформировать календарь</span>
        </button>
    </form>
    <div ng-if="$ctrl.isCalendarMaking">
        <div ng-if="!$ctrl.isWorkSuspended">Подождите, алгоритм выполняется... <b>{{$ctrl.percent}} %</b></div>
        <div ng-if="$ctrl.isWorkSuspended">Подождите, пока итерация алгоритма завершится...</div>
        <button class="btn btn-success" ng-click="$ctrl.suspendWork()">Завершить работу</button>
    </div>
</div>
<div class="col-md-12">
    <h3>Выполненные расчёты</h3>
    <ul ng-repeat="result in $ctrl.results">
        <li><a ui-sref="calendarinfo({id: result})">{{result}}</a></li>
    </ul>
</div>