﻿<div class="col-md-12">
    <h3>Сгенерированные данные</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group" role="group">
                <a ui-sref="viewdata.applications" role="button" class="btn btn-default">Заявки</a>
                <a ui-sref="viewdata.receives" role="button" class="btn btn-default">Поступления</a>
                <a ui-sref="viewdata.accounts" role="button" class="btn btn-default">Счета</a>
            </div>
            <ul class="i"></ul>
            <form ng-if="!$ctrl.isCalendarMaking">
                <div class="form-group">
                    <label>Дата начала периода генерации</label>
                    <div class="input-group">
                        <input type="date" class="form-control" 
                               ng-model="$ctrl.formData.DateStart" is-open="fromOpen"
                               ng-model-options="{timezone: 'utc'}"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="fromOpen=!fromOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Дата окончания периода генерации</label>
                    <div class="input-group">
                        <input type="date" class="form-control" 
                               ng-model="$ctrl.formData.DateEnd" is-open="toOpen"
                               ng-model-options="{timezone: 'utc'}"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="toOpen=!toOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Число заявок</label>
                    <input type="number" class="form-control" ng-model="$ctrl.formData.AppsCount" min="1" max="10000" />
                </div>
                <div class="form-group">
                    <label>Число поступлений</label>
                    <input type="number" class="form-control" ng-model="$ctrl.formData.ReceivesCount" min="1" max="10000" />
                </div>
                <div class="form-group">
                    <label>Число счетов</label>
                    <input type="number" class="form-control" ng-model="$ctrl.formData.AccountsCount" min="1" max="10" />
                </div>
                <button class="btn btn-success" ng-click="$ctrl.generateData()">Сгенерировать новые данные</button>
            </form>
        </div>
        <div class="col-md-8">
            <ui-view></ui-view>
        </div>
    </div>
</div>

