﻿<div class="col-md-12">
    <button class="btn btn-success" ui-sref="payment({id: 0})">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Добавить</span>
    </button>
</div>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <td>Название</td>
                <td>Дата создания</td>
                <td>Сумма</td>
                <td>Осталось</td>
                <td>Тип</td>
                <td></td>
            </tr>
        </thead>
        <tr ng-repeat="payment in $ctrl.payments">
            <td ui-sref="payment({id: payment.id})" style="cursor: pointer;">{{payment.name}}</td>
            <td>{{payment.createDate}}</td>
            <td>{{payment.sum}}</td>
            <td>{{payment.sumRemained}}</td>
            <td>{{$ctrl.getPaymentType(payment.pType)}}</td>
            <td>
                <a class="btn btn-alert" ng-click="$ctrl.removePayment(payment.id, $index)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
    </table>
</div>