﻿<div class="col-md-4" style="margin-bottom: 1em">
    <div class="row" style="margin-bottom: 1em">
        <div class="col-md-12">
            <div uib-alert ng-class="'alert-warning'" ng-if="$ctrl.itemsCount == 0 && $ctrl.notificationOpened"
                 close="$ctrl.notificationOpened=!$ctrl.notificationOpened">
                Для того, чтобы просматривать календарь, необходимо его рассчитать.
                Для этого нажмите кнопку "Рассчитать календарь"
            </div>
            <button class="btn btn-success" style="width:100%;" ng-click="$ctrl.ReformSchedule()">
                Рассчитать календарь
            </button>
        </div>
    </div>
    <div class="row">
        <form class="col-md-12" style="margin-bottom: 1em">
            <div class="form-group">
                <label>Вывести платежи с</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="$ctrl.dateFrom" is-open="fromOpen"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="fromOpen=!fromOpen">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>по</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="$ctrl.dateTo" is-open="toOpen"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="toOpen=!toOpen">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>

            <button type="submit" class="btn btn-success" ng-click="$ctrl.FilterByDate()">Применить</button>
        </form>
    </div>
</div>
<div class="col-md-8">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Дата платежа</th>
                <th>К оплате</th>
                <th>Платёжное обязательство</th>
            </tr>
        </thead>
        <tr ng-repeat="item in $ctrl.schedule">
            <td>{{item.date}}</td>
            <td>{{item.sum}}</td>
            <td><a ui-sref="payment({id: item.paymentId})">{{item.paymentName}}</a></td>
        </tr>
    </table>
</div>
