﻿<h4>Счета</h4>
<table class="table table-bordered">
    <tr>
        <th>Номер счёта</th>
        <th>Название банка</th>
    </tr>
    <tr ng-repeat="account in $ctrl.accounts">
        <td>{{account.AccountNumber}}</td>
        <td>{{account.BankName}}</td>
    </tr>
</table>