﻿<h4>Заявки</h4>
<table class="table table-bordered">
    <tr>
        <th>Дата расположения</th>
        <th>Крайний срок оплаты</th>
        <th>Сумма</th>
    </tr>
    <tr ng-repeat="app in $ctrl.applications">
        <td>{{app.StartDate}}</td>
        <td>{{app.DeadlineDate}}</td>
        <td>{{app.Sum}}</td>
    </tr>
</table>