﻿<h4>Поступления</h4>
<table class="table table-bordered">
    <tr>
        <th>Дата</th>
        <th>Сумма</th>
    </tr>
    <tr ng-repeat="receive in $ctrl.receives">
        <td>{{receive.ReceiveDate}}</td>
        <td>{{receive.Sum}}</td>
    </tr>
</table>